body {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1em;
}

h1 {
	font-family: 'Merienda', cursive;
}

.copyInfo {
	color: white;
	margin-left: 10px;
	float: left;
}

.myCopy {
	color: white;
	margin-right: 10px;
	float: right;
}

#info {
	margin-left: 10%;
	margin-bottom: 10%;
	width: 80%;
	height: 100%;
	background-color: #1d9a01;
	-moz-border-radius: 25px 25px;
	border-radius: 25px 25px;
}

#info p {
	text-overflow: ellipsis;
	overflow: visible;
	white-space: normal;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1.2em;
	color: white;
}

#contact {
	clear: both;
	padding-bottom: 5%;
}

#contact a {
	color: white;
}

#creator {
	padding-top: 5%;
}

@media only screen 
and (min-width : 768px) {
	#logo {
		float: left;
		width: 45%;
		margin-left: 5%;
	}

	#logo img {
		width: 75%;
	}

	.login {
		width: 40%;
		margin-top: 4%;
		margin-right: 8%;
		float: right;
	}

	.list {
		margin-top: 10%;
	}

	[data-role=page]{
		height: 100% !important; 
		position:relative !important;
	}
	
	[data-role=footer]{
		bottom:0;
		position:absolute !important; 
		top: auto !important; 
		width:100%;
	}
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

	#welcome {
		font-size: .65em;
	}

	#logo {
		width: 85%;
		margin-left: 5%;
	}

	#logo img {
		width: 75%;
	}

	.login {
		width: 85%;
		margin-top: 4%;
		margin-left:5%;
	}

	.header {
		font-size: 1.5em;
	}

	.list {
    	margin-top : 10%;
	}

	.logout {
		font-size: .4em;
	}

	.myCopy {
		display: none;
	}

	.copyFooter {
		overflow: hidden;
	}

	#info p {
		font-size: .94em;
	}
}